# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Clangd
.cache/
.clangd/

# Build artifacts
*.o
client/client
server/server
compile_commands.json

# Python
__pycache__/
*.pyc

# Runtime data
server/netdisk.db
server/netdisk_data/

# Claude Code
.claude/

# libbpf generated artifacts
ebpf_debugger/libbpf/vmlinux.h
ebpf_debugger/libbpf/*.bpf.o
ebpf_debugger/libbpf/*.skel.h
ebpf_debugger/libbpf/netdisk_loader